In [2]:
import pandas as pd

### Cleaning Turnover Data

In [24]:
turnover_full = pd.read_excel("terms/headcount_terms_cleaned_lydia.xlsx", 
                         sheet_name='terms_full',
                         header=0)

turnover_part = pd.read_excel("terms/headcount_terms_cleaned_lydia.xlsx", 
                         sheet_name='terms_part',
                         header=0)

turnover_sum = pd.read_excel("terms/headcount_terms_cleaned_lydia.xlsx", 
                         sheet_name='terms_sum',
                         header=0)

In [25]:
turnover_full = turnover_full.drop(columns=["Department Name", "Division", "Full/Part"])
turnover_part = turnover_part.drop(columns=["Department Name", "Division", "Full/Part"])
turnover_sum = turnover_sum.drop(columns=["Department Name", "Division", "Full/Part"])

In [26]:
turnover_sum

,Department,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09,...,2020-03,2020-04,2020-05,2020-06,2020-07,2020-08,2020-09,2020-10,2020-11,2020-12
0,4683,8,5,4,6,10,9,5,5,11,...,3,13,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4014,1,3,0,1,2,0,2,1,0,...,1,1,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4129,0,0,0,1,0,0,0,2,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4472,3,1,3,4,5,4,4,5,2,...,3,3,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,13561,0,0,0,0,0,0,0,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4977,4,8,13,14,17,12,10,9,11,...,4,4,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4580,10,10,10,16,18,16,20,14,9,...,2,4,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,4675,4,11,11,12,16,6,5,9,10,...,8,17,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,4682,7,13,3,9,8,9,9,8,7,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,4937,0,0,0,0,0,0,0,0,0,...,7,5,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,4684,13,31,18,21,28,20,21,24,19,...,3,10,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,4688,0,1,1,0,2,1,2,1,2,...,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,10273,0,0,0,0,0,0,0,0,0,...,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,4692,10,10,5,5,6,10,12,43,18,...,3,5,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,4694,4,4,5,3,1,1,0,6,7,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,4716,10,10,5,20,8,16,16,14,11,...,7,6,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,4748,4,3,5,1,4,6,4,6,2,...,4,11,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,4805,2,6,4,2,7,6,9,10,5,...,6,8,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,4807,5,3,5,2,3,5,4,7,1,...,3,2,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,4812,6,7,4,4,4,2,3,2,1,...,1,5,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,4834,1,2,2,4,5,0,5,5,3,...,3,2,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,4839,3,6,6,6,8,4,10,13,8,...,8,13,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,4885,0,0,0,0,0,0,0,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,4895,17,13,19,9,20,15,17,12,13,...,4,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,4906,0,0,1,1,0,0,1,1,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,4909,0,0,0,0,0,0,0,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,4922,0,0,0,0,0,0,0,0,0,...,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,4925,0,3,1,3,2,5,3,4,2,...,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,4926,0,0,0,0,0,0,0,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,4950,0,0,0,0,0,0,0,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,4961,0,0,0,1,0,0,0,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,4972,7,5,3,2,7,5,5,7,5,...,4,4,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,4973,0,0,0,0,0,0,0,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,4974,4,4,1,2,4,3,8,13,7,...,1,0,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,4976,0,0,2,1,0,0,2,1,0,...,2,3,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,4979,0,0,0,0,0,0,0,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,4981,6,5,1,1,2,3,6,4,5,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,4983,2,6,5,6,10,5,6,9,5,...,3,6,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,4985,0,0,0,0,0,0,0,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,4982,0,0,0,0,0,0,0,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# convert wide to long data
turnover_sum = pd.melt(turnover_sum, id_vars="Department", var_name="month", value_name="turn_sum")
turnover_part = pd.melt(turnover_part, id_vars="Department", var_name="month", value_name="turn_part")
turnover_full = pd.melt(turnover_full, id_vars="Department", var_name="month", value_name="turn_full")

In [28]:
turnover_full

      Department    month  turn_full
0           4683  2017-01        6.0
1           4014  2017-01        1.0
2           4129  2017-01        0.0
3           4472  2017-01        2.0
4          13561  2017-01        0.0
...          ...      ...        ...
1915        4979  2020-12        NaN
1916        4981  2020-12        NaN
1917        4982  2020-12        NaN
1918        4983  2020-12        NaN
1919        4985  2020-12        NaN

[1920 rows x 3 columns]

In [31]:
# merge the 3 separate turnover datasets together into 1 df
turnover = turnover_full.merge(turnover_part, how='inner', on=['Department', 'month'])
turnover = turnover.merge(turnover_sum, how='inner', on=['Department', 'month'])

In [32]:
turnover

      Department    month  turn_full  turn_part  turn_sum
0           4683  2017-01        6.0        2.0       8.0
1           4014  2017-01        1.0        0.0       1.0
2           4129  2017-01        0.0        0.0       0.0
3           4472  2017-01        2.0        1.0       3.0
4          13561  2017-01        0.0        0.0       0.0
...          ...      ...        ...        ...       ...
1915        4979  2020-12        NaN        NaN       NaN
1916        4981  2020-12        NaN        NaN       NaN
1917        4982  2020-12        NaN        NaN       NaN
1918        4983  2020-12        NaN        NaN       NaN
1919        4985  2020-12        NaN        NaN       NaN

[1920 rows x 5 columns]

In [33]:
# lag the turnover so that each row has data on turnover from the *previous* month
turnover['turn_full_last_month'] = turnover['turn_full'].shift(periods=1)
turnover['turn_part_last_month'] = turnover['turn_part'].shift(periods=1)
turnover['turn_sum_last_month'] = turnover['turn_sum'].shift(periods=1)

In [34]:
turnover

,Department,month,turn_full,turn_part,turn_sum,turn_full_last_month,turn_part_last_month,turn_sum_last_month
0,4683,2017-01,6.0,2.0,8.0,NaN,NaN,NaN
1,4014,2017-01,1.0,0.0,1.0,6.0,2.0,8.0
2,4129,2017-01,0.0,0.0,0.0,1.0,0.0,1.0
3,4472,2017-01,2.0,1.0,3.0,0.0,0.0,0.0
4,13561,2017-01,0.0,0.0,0.0,2.0,1.0,3.0
...,...,...,...,...,...,...,...,...
1915,4979,2020-12,NaN,NaN,NaN,NaN,NaN,NaN
1916,4981,2020-12,NaN,NaN,NaN,NaN,NaN,NaN
1917,4982,2020-12,NaN,NaN,NaN,NaN,NaN,NaN
1918,4983,2020-12,NaN,NaN,NaN,NaN,NaN,NaN
1919,4985,2020-12,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
# convert month to datetime type
turnover['month'] = pd.to_datetime(turnover['month']).dt.to_period('M')

In [38]:
turnover

,Department,month,turn_full_last_month,turn_part_last_month,turn_sum_last_month
0,4683,2017-01,NaN,NaN,NaN
1,4014,2017-01,6.0,2.0,8.0
2,4129,2017-01,1.0,0.0,1.0
3,4472,2017-01,0.0,0.0,0.0
4,13561,2017-01,2.0,1.0,3.0
...,...,...,...,...,...
1915,4979,2020-12,NaN,NaN,NaN
1916,4981,2020-12,NaN,NaN,NaN
1917,4982,2020-12,NaN,NaN,NaN
1918,4983,2020-12,NaN,NaN,NaN
1919,4985,2020-12,NaN,NaN,NaN

In [37]:
# drop unnecessary columns
turnover = turnover.drop(columns=['turn_full', 'turn_sum', 'turn_part'])

### Labor Productivity Data

In [39]:
l_p = pd.read_csv("labor_productivity/dat_laborproductivity_06032021.csv")

In [16]:
l_p

,fc_id,we_date,boxes_per_hr,bph_actual_minus_fcast,cargo_loss,damages_per_sales,fcast_cargo_loss,fcast_damages_per_sales,fcast_labor_per_sales,fcast_ot_hrs_pct_tot_prod_hrs,...,pt_tot_hrs,receiving_cartons,temp_headcount_wkly,temp_hrs,temp_ot_hrs,tot_damages,tot_headcount_wkly,tot_prod_hrs,tot_sales,vol_boxes_wkly
0,4580,15010,20.0397,-1.2636,NaN,0.0026,NaN,0.0016,0.0094,0.02,...,437.08,131677.0,0.0,0.0,0.0,20755.979,213.0,5806.48,7.899214e+06,116360.0
1,4580,15017,21.1017,0.1600,NaN,0.0018,NaN,0.0016,0.0095,0.02,...,585.81,154850.0,0.0,0.0,0.0,19206.551,214.0,7512.28,1.041552e+07,158522.0
2,4580,15024,22.6161,1.2338,NaN,0.0024,NaN,0.0017,0.0093,0.02,...,553.47,138149.0,0.0,0.0,0.0,24661.560,197.0,7249.16,1.010653e+07,163948.0
3,4580,15031,21.4037,0.3004,NaN,0.0021,NaN,0.0017,0.0096,0.02,...,482.61,118688.0,0.0,0.0,0.0,20212.439,203.0,6939.51,9.708674e+06,148531.0
4,4580,15038,21.1063,-0.6185,NaN,0.0021,NaN,0.0017,0.0094,0.02,...,595.02,132556.0,0.0,0.0,0.0,20573.480,208.0,7319.95,1.003482e+07,154497.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16081,4973,18629,0.0000,0.0000,0.0,0.0000,NaN,NaN,0.0000,0.00,...,0.00,0.0,0.0,0.0,0.0,0.000,0.0,0.00,0.000000e+00,0.0
16082,4973,18636,0.0000,0.0000,0.0,0.0000,NaN,NaN,0.0000,0.00,...,0.00,0.0,0.0,0.0,0.0,0.000,0.0,0.00,0.000000e+00,0.0
16083,4973,18643,0.0000,0.0000,0.0,0.0000,NaN,NaN,0.0000,0.00,...,0.00,0.0,0.0,0.0,0.0,0.000,0.0,0.00,0.000000e+00,0.0
16084,4973,18650,0.0000,0.0000,0.0,0.0000,NaN,NaN,0.0000,0.00,...,0.00,0.0,0.0,0.0,0.0,0.000,0.0,0.00,0.000000e+00,0.0
16085,4973,18657,0.0000,0.0000,0.0,0.0000,NaN,NaN,0.0000,0.00,...,0.00,0.0,0.0,0.0,0.0,0.000,0.0,0.00,0.000000e+00,0.0

In [40]:
# convert we_date to datetime format (currently no days from unix origin)
l_p['we_date'] = pd.to_datetime(l_p['we_date'], origin='unix', unit='D')
l_p

,fc_id,we_date,boxes_per_hr,bph_actual_minus_fcast,cargo_loss,damages_per_sales,fcast_cargo_loss,fcast_damages_per_sales,fcast_labor_per_sales,fcast_ot_hrs_pct_tot_prod_hrs,...,pt_tot_hrs,receiving_cartons,temp_headcount_wkly,temp_hrs,temp_ot_hrs,tot_damages,tot_headcount_wkly,tot_prod_hrs,tot_sales,vol_boxes_wkly
0,4580,2011-02-05,20.0397,-1.2636,NaN,0.0026,NaN,0.0016,0.0094,0.02,...,437.08,131677.0,0.0,0.0,0.0,20755.979,213.0,5806.48,7.899214e+06,116360.0
1,4580,2011-02-12,21.1017,0.1600,NaN,0.0018,NaN,0.0016,0.0095,0.02,...,585.81,154850.0,0.0,0.0,0.0,19206.551,214.0,7512.28,1.041552e+07,158522.0
2,4580,2011-02-19,22.6161,1.2338,NaN,0.0024,NaN,0.0017,0.0093,0.02,...,553.47,138149.0,0.0,0.0,0.0,24661.560,197.0,7249.16,1.010653e+07,163948.0
3,4580,2011-02-26,21.4037,0.3004,NaN,0.0021,NaN,0.0017,0.0096,0.02,...,482.61,118688.0,0.0,0.0,0.0,20212.439,203.0,6939.51,9.708674e+06,148531.0
4,4580,2011-03-05,21.1063,-0.6185,NaN,0.0021,NaN,0.0017,0.0094,0.02,...,595.02,132556.0,0.0,0.0,0.0,20573.480,208.0,7319.95,1.003482e+07,154497.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16081,4973,2021-01-02,0.0000,0.0000,0.0,0.0000,NaN,NaN,0.0000,0.00,...,0.00,0.0,0.0,0.0,0.0,0.000,0.0,0.00,0.000000e+00,0.0
16082,4973,2021-01-09,0.0000,0.0000,0.0,0.0000,NaN,NaN,0.0000,0.00,...,0.00,0.0,0.0,0.0,0.0,0.000,0.0,0.00,0.000000e+00,0.0
16083,4973,2021-01-16,0.0000,0.0000,0.0,0.0000,NaN,NaN,0.0000,0.00,...,0.00,0.0,0.0,0.0,0.0,0.000,0.0,0.00,0.000000e+00,0.0
16084,4973,2021-01-23,0.0000,0.0000,0.0,0.0000,NaN,NaN,0.0000,0.00,...,0.00,0.0,0.0,0.0,0.0,0.000,0.0,0.00,0.000000e+00,0.0
16085,4973,2021-01-30,0.0000,0.0000,0.0,0.0000,NaN,NaN,0.0000,0.00,...,0.00,0.0,0.0,0.0,0.0,0.000,0.0,0.00,0.000000e+00,0.0

In [41]:
# create new column of YYYY-MM format for we_date
l_p['year_month'] = pd.to_datetime(l_p['we_date']).dt.to_period('M')
l_p

,fc_id,we_date,boxes_per_hr,bph_actual_minus_fcast,cargo_loss,damages_per_sales,fcast_cargo_loss,fcast_damages_per_sales,fcast_labor_per_sales,fcast_ot_hrs_pct_tot_prod_hrs,...,receiving_cartons,temp_headcount_wkly,temp_hrs,temp_ot_hrs,tot_damages,tot_headcount_wkly,tot_prod_hrs,tot_sales,vol_boxes_wkly,year_month
0,4580,2011-02-05,20.0397,-1.2636,NaN,0.0026,NaN,0.0016,0.0094,0.02,...,131677.0,0.0,0.0,0.0,20755.979,213.0,5806.48,7.899214e+06,116360.0,2011-02
1,4580,2011-02-12,21.1017,0.1600,NaN,0.0018,NaN,0.0016,0.0095,0.02,...,154850.0,0.0,0.0,0.0,19206.551,214.0,7512.28,1.041552e+07,158522.0,2011-02
2,4580,2011-02-19,22.6161,1.2338,NaN,0.0024,NaN,0.0017,0.0093,0.02,...,138149.0,0.0,0.0,0.0,24661.560,197.0,7249.16,1.010653e+07,163948.0,2011-02
3,4580,2011-02-26,21.4037,0.3004,NaN,0.0021,NaN,0.0017,0.0096,0.02,...,118688.0,0.0,0.0,0.0,20212.439,203.0,6939.51,9.708674e+06,148531.0,2011-02
4,4580,2011-03-05,21.1063,-0.6185,NaN,0.0021,NaN,0.0017,0.0094,0.02,...,132556.0,0.0,0.0,0.0,20573.480,208.0,7319.95,1.003482e+07,154497.0,2011-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16081,4973,2021-01-02,0.0000,0.0000,0.0,0.0000,NaN,NaN,0.0000,0.00,...,0.0,0.0,0.0,0.0,0.000,0.0,0.00,0.000000e+00,0.0,2021-01
16082,4973,2021-01-09,0.0000,0.0000,0.0,0.0000,NaN,NaN,0.0000,0.00,...,0.0,0.0,0.0,0.0,0.000,0.0,0.00,0.000000e+00,0.0,2021-01
16083,4973,2021-01-16,0.0000,0.0000,0.0,0.0000,NaN,NaN,0.0000,0.00,...,0.0,0.0,0.0,0.0,0.000,0.0,0.00,0.000000e+00,0.0,2021-01
16084,4973,2021-01-23,0.0000,0.0000,0.0,0.0000,NaN,NaN,0.0000,0.00,...,0.0,0.0,0.0,0.0,0.000,0.0,0.00,0.000000e+00,0.0,2021-01
16085,4973,2021-01-30,0.0000,0.0000,0.0,0.0000,NaN,NaN,0.0000,0.00,...,0.0,0.0,0.0,0.0,0.000,0.0,0.00,0.000000e+00,0.0,2021-01

In [42]:
# group by fc_id and year_month to get average values for each FC for each month 
# (and drop we_date column -- no longer needed)
l_p_grouped = l_p.drop(columns=["we_date"])
l_p_grouped = l_p.groupby(by=['fc_id', 'year_month']).mean().reset_index()

In [43]:
l_p_grouped

,fc_id,year_month,boxes_per_hr,bph_actual_minus_fcast,cargo_loss,damages_per_sales,fcast_cargo_loss,fcast_damages_per_sales,fcast_labor_per_sales,fcast_ot_hrs_pct_tot_prod_hrs,...,pt_tot_hrs,receiving_cartons,temp_headcount_wkly,temp_hrs,temp_ot_hrs,tot_damages,tot_headcount_wkly,tot_prod_hrs,tot_sales,vol_boxes_wkly
0,4013,2011-02,17.267975,-0.713550,NaN,0.001975,NaN,0.001650,0.012575,0.02,...,2216.3650,154731.25,0.0,0.0,0.0,23940.23550,286.00,9784.3275,1.211082e+07,168975.5
1,4013,2011-03,17.616800,-0.269300,NaN,0.001475,NaN,0.001700,0.012725,0.02,...,2257.8875,173868.75,0.0,0.0,0.0,19754.63275,286.75,10588.3975,1.331676e+07,186500.5
2,4013,2011-04,17.287880,-0.798220,NaN,0.001420,NaN,0.001700,0.012680,0.02,...,1972.1380,176295.00,0.0,0.0,0.0,16485.13340,286.40,9563.9060,1.187918e+07,166297.8
3,4013,2011-05,17.054400,-0.764600,NaN,0.001475,NaN,0.001700,0.013100,0.02,...,1932.8400,124461.75,0.0,0.0,0.0,15492.17600,280.25,8586.3850,1.054972e+07,146581.0
4,4013,2011-06,17.197350,-0.747775,NaN,0.001525,NaN,0.001675,0.013075,0.02,...,1886.8650,116643.00,0.0,0.0,0.0,14498.11025,275.75,7871.9250,9.493260e+06,135528.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3704,4985,2018-10,0.973750,0.973750,0.0,0.483025,0.0,0.000000,0.035000,0.00,...,0.0000,0.00,0.0,0.0,0.0,86.21325,3.50,132.2050,1.070613e+04,183.5
3705,4985,2018-11,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.035000,0.00,...,0.0000,0.00,0.0,0.0,0.0,0.00000,0.00,0.0000,0.000000e+00,0.0
3706,4985,2018-12,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.035400,0.00,...,0.0000,0.00,0.0,0.0,0.0,0.00000,0.00,0.0000,0.000000e+00,0.0
3707,4985,2019-01,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.035350,0.00,...,0.0000,0.00,0.0,0.0,0.0,0.00000,0.00,0.0000,0.000000e+00,0.0
3708,4985,2019-02,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.035200,0.00,...,0.0000,0.00,0.0,0.0,0.0,0.00000,0.00,0.0000,0.000000e+00,0.0

### merge turnover with labor_productivity data
inner join because we don't care about the dates for which we don't have any turnover data -- also not reasonable extrapolate that information from other observations because it's hard to say what factors would cause one month to have "similar" turnover. also don't care about the observations for which we have turnover data but no labor productivity data -- this is missing too many values.

In [44]:
turnover_l_p = turnover.merge(l_p_grouped, how='inner', 
                              left_on=['Department', 'month'], 
                              right_on=['fc_id', 'year_month']).drop(columns=['Department', 'month'])

In [45]:
turnover_l_p

,turn_full_last_month,turn_part_last_month,turn_sum_last_month,fc_id,year_month,boxes_per_hr,bph_actual_minus_fcast,cargo_loss,damages_per_sales,fcast_cargo_loss,...,pt_tot_hrs,receiving_cartons,temp_headcount_wkly,temp_hrs,temp_ot_hrs,tot_damages,tot_headcount_wkly,tot_prod_hrs,tot_sales,vol_boxes_wkly
0,1.0,0.0,1.0,4129,2017-01,15.417475,-0.816675,0.000575,0.002350,0.0008,...,56.6850,2656.00,0.00,0.0000,0.0000,464.04225,8.75,260.8300,1.954872e+05,4021.50
1,0.0,0.0,0.0,4472,2017-01,18.325825,-3.436525,0.000875,0.001675,0.0011,...,1377.3075,109371.00,85.25,2136.5025,55.9350,13859.60275,276.25,8498.6100,8.275513e+06,155601.25
2,2.0,2.0,4.0,4580,2017-01,17.232750,-6.448725,0.000875,0.002450,0.0017,...,1392.6300,148450.50,13.00,325.7500,0.0000,24735.57750,323.00,10849.7375,1.017490e+07,186850.00
3,4.0,6.0,10.0,4675,2017-01,16.778075,-1.949925,0.001475,0.004775,0.0017,...,1184.7925,167522.75,36.75,919.6750,2.0025,44474.71725,284.25,10222.9925,9.326054e+06,170848.75
4,4.0,0.0,4.0,4682,2017-01,24.867400,1.228475,0.001100,0.003625,0.0013,...,1369.7575,155655.00,50.75,1273.6250,10.5400,48445.21975,295.00,9251.6775,1.325959e+07,229983.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1275,NaN,NaN,NaN,4972,2020-12,0.000000,0.000000,0.000000,0.000000,NaN,...,0.0000,0.00,0.00,0.0000,0.0000,0.00000,0.00,0.0000,0.000000e+00,0.00
1276,NaN,NaN,NaN,4973,2020-12,0.000000,0.000000,0.000000,0.000000,NaN,...,0.0000,0.00,0.00,0.0000,0.0000,0.00000,0.00,0.0000,0.000000e+00,0.00
1277,NaN,NaN,NaN,4974,2020-12,0.000000,0.000000,0.000000,0.000000,NaN,...,0.0000,0.00,0.00,0.0000,0.0000,0.00000,0.00,0.0000,0.000000e+00,0.00
1278,NaN,NaN,NaN,4976,2020-12,0.000000,0.000000,0.000000,0.000000,NaN,...,0.0000,0.00,0.00,0.0000,0.0000,0.00000,0.00,0.0000,0.000000e+00,0.00
1279,NaN,NaN,NaN,4983,2020-12,0.000000,0.000000,0.000000,0.000000,NaN,...,0.0000,0.00,0.00,0.0000,0.0000,0.00000,0.00,0.0000,0.000000e+00,0.00

In [46]:
# convert fc_ids to preserve anonymity
turnover_l_p['fc_id'] = turnover_l_p['fc_id'] + 2238

In [48]:
# rearrange column order
turnover_l_p = turnover_l_p[['fc_id'] + ['year_month'] + \
                            [ col for col in turnover_l_p.columns if col not in ['fc_id', 'year_month']]]

In [49]:
turnover_l_p

,fc_id,year_month,turn_full_last_month,turn_part_last_month,turn_sum_last_month,boxes_per_hr,bph_actual_minus_fcast,cargo_loss,damages_per_sales,fcast_cargo_loss,...,pt_tot_hrs,receiving_cartons,temp_headcount_wkly,temp_hrs,temp_ot_hrs,tot_damages,tot_headcount_wkly,tot_prod_hrs,tot_sales,vol_boxes_wkly
0,6367,2017-01,1.0,0.0,1.0,15.417475,-0.816675,0.000575,0.002350,0.0008,...,56.6850,2656.00,0.00,0.0000,0.0000,464.04225,8.75,260.8300,1.954872e+05,4021.50
1,6710,2017-01,0.0,0.0,0.0,18.325825,-3.436525,0.000875,0.001675,0.0011,...,1377.3075,109371.00,85.25,2136.5025,55.9350,13859.60275,276.25,8498.6100,8.275513e+06,155601.25
2,6818,2017-01,2.0,2.0,4.0,17.232750,-6.448725,0.000875,0.002450,0.0017,...,1392.6300,148450.50,13.00,325.7500,0.0000,24735.57750,323.00,10849.7375,1.017490e+07,186850.00
3,6913,2017-01,4.0,6.0,10.0,16.778075,-1.949925,0.001475,0.004775,0.0017,...,1184.7925,167522.75,36.75,919.6750,2.0025,44474.71725,284.25,10222.9925,9.326054e+06,170848.75
4,6920,2017-01,4.0,0.0,4.0,24.867400,1.228475,0.001100,0.003625,0.0013,...,1369.7575,155655.00,50.75,1273.6250,10.5400,48445.21975,295.00,9251.6775,1.325959e+07,229983.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1275,7210,2020-12,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,NaN,...,0.0000,0.00,0.00,0.0000,0.0000,0.00000,0.00,0.0000,0.000000e+00,0.00
1276,7211,2020-12,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,NaN,...,0.0000,0.00,0.00,0.0000,0.0000,0.00000,0.00,0.0000,0.000000e+00,0.00
1277,7212,2020-12,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,NaN,...,0.0000,0.00,0.00,0.0000,0.0000,0.00000,0.00,0.0000,0.000000e+00,0.00
1278,7214,2020-12,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,NaN,...,0.0000,0.00,0.00,0.0000,0.0000,0.00000,0.00,0.0000,0.000000e+00,0.00
1279,7221,2020-12,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,NaN,...,0.0000,0.00,0.00,0.0000,0.0000,0.00000,0.00,0.0000,0.000000e+00,0.00

In [50]:
# drop observations for which we have no turnover data (these are the data from after 2020-05)
turnover_l_p = turnover_l_p[pd.notnull(turnover_l_p['turn_full_last_month']) & 
                           pd.notnull(turnover_l_p['turn_part_last_month']) & 
                           pd.notnull(turnover_l_p['turn_sum_last_month'])]

In [51]:
turnover_l_p

,fc_id,year_month,turn_full_last_month,turn_part_last_month,turn_sum_last_month,boxes_per_hr,bph_actual_minus_fcast,cargo_loss,damages_per_sales,fcast_cargo_loss,...,pt_tot_hrs,receiving_cartons,temp_headcount_wkly,temp_hrs,temp_ot_hrs,tot_damages,tot_headcount_wkly,tot_prod_hrs,tot_sales,vol_boxes_wkly
0,6367,2017-01,1.0,0.0,1.0,15.417475,-0.816675,0.000575,0.002350,0.0008,...,56.6850,2656.00,0.00,0.0000,0.0000,464.04225,8.75,260.8300,1.954872e+05,4021.50
1,6710,2017-01,0.0,0.0,0.0,18.325825,-3.436525,0.000875,0.001675,0.0011,...,1377.3075,109371.00,85.25,2136.5025,55.9350,13859.60275,276.25,8498.6100,8.275513e+06,155601.25
2,6818,2017-01,2.0,2.0,4.0,17.232750,-6.448725,0.000875,0.002450,0.0017,...,1392.6300,148450.50,13.00,325.7500,0.0000,24735.57750,323.00,10849.7375,1.017490e+07,186850.00
3,6913,2017-01,4.0,6.0,10.0,16.778075,-1.949925,0.001475,0.004775,0.0017,...,1184.7925,167522.75,36.75,919.6750,2.0025,44474.71725,284.25,10222.9925,9.326054e+06,170848.75
4,6920,2017-01,4.0,0.0,4.0,24.867400,1.228475,0.001100,0.003625,0.0013,...,1369.7575,155655.00,50.75,1273.6250,10.5400,48445.21975,295.00,9251.6775,1.325959e+07,229983.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1108,7211,2020-05,17.0,0.0,17.0,50.528320,3.528320,0.000240,0.000080,NaN,...,0.0000,18398.80,0.00,0.0000,0.0000,13.00000,4.20,132.5620,1.791926e+05,6609.80
1109,7212,2020-05,0.0,0.0,0.0,21.599920,2.539920,0.001500,0.000800,NaN,...,450.9140,63424.80,0.00,0.0000,0.0000,2811.40000,122.40,3467.8920,3.489783e+06,74813.80
1110,7214,2020-05,7.0,3.0,10.0,21.277100,0.277100,0.002360,0.005560,NaN,...,325.4260,20886.20,0.00,0.0000,0.0000,5794.00000,37.40,1141.5800,1.077949e+06,24273.20
1111,7221,2020-05,0.0,0.0,0.0,14.919140,-4.040860,0.004180,0.000660,NaN,...,545.3260,68509.40,0.20,2.6000,0.0000,2206.60000,150.20,4750.1820,3.289668e+06,70092.00
1112,6921,2020-06,0.0,0.0,0.0,13.722750,-1.777250,0.002825,0.013350,NaN,...,933.5625,89758.00,5.00,119.1500,0.0000,78623.75000,285.50,7667.7700,5.865507e+06,105216.25

In [52]:
turnover_l_p.to_csv("turnover_l_p.csv")

In [56]:
for col in turnover_l_p.columns: print(col)

fc_id
year_month
turn_full_last_month
turn_part_last_month
turn_sum_last_month
boxes_per_hr
bph_actual_minus_fcast
cargo_loss
damages_per_sales
fcast_cargo_loss
fcast_damages_per_sales
fcast_labor_per_sales
fcast_ot_hrs_pct_tot_prod_hrs
fcast_prod_avg_wage
fcast_receiving_cartons
fcast_vol_boxes_wkly
ft_headcount_wkly
labor_per_box
labor_per_sales
leave_behinds
missing_wrong
ot_hrs
ot_hrs_pct_tot_prod_hrs
prod_avg_wage
pt_headcount_wkly
pt_ot_hrs
pt_tot_hrs
receiving_cartons
temp_headcount_wkly
temp_hrs
temp_ot_hrs
tot_damages
tot_headcount_wkly
tot_prod_hrs
tot_sales
vol_boxes_wkly